# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db

# Other
*.pyc
.DS_Store